body {
    font-family: Arial, sans-serif;
    background: rgb(54, 0, 0);
}

div.container {
    width: 800px;
    height: 510px;
    position: absolute;
    top: 70%;
    margin-top: -490px;
    text-align: center;
    left: 50%;
    background: #2B85ED;
    color: white;
    margin-left: -430px;
    padding: 30px;
    border-bottom: 11px solid white;
}

div.container h1 {
    font-size: 64px;
    margin: -10px 0 15px 0;
    border-bottom: 5px solid white;
    border-top: 5px solid white;
}

div.container h2.small {
    font-size: 20px;
}


.battle-place {
    background: white;
    width: 800px;
    height: 400px;
    position: absolute;
}

.unit {
    width: 65px;
    position: absolute;
}

img {
    width: 100%;
}

.army-0.unit .color {
    background: #c0392b;
}

.army-1.unit .color {
    background: blue;
}

.unit .color {
    width: 10px;
    height: 10px;
    border-radius: 11px;
    margin: 0 auto;
    margin-top: -12px;
    position: relative;
    z-index: 999;
}

.templates {
    display: none;
}
